*.class
BootsFacesGeneratorDemo/src-gen/
de.beyondjava.xtext.jsf/src-gen/
de.beyondjava.xtext.jsf.sdk/src-gen/
de.beyondjava.xtext.jsf.tests/src-gen/
de.beyondjava.xtext.jsf.ui/src-gen/
de.beyondjava.xtext.jsf.ui/bin/
xtend-gen/
.settings/
.launch/
.bin/
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
